.restaurant-card {
  margin-bottom: 16px;

  &__content {
    width: 100%;
  }

  &__header {
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    margin: 0;
  }

  &__status {
    text-transform: capitalize;
  }

  &__timings {
    color: rgba(0, 0, 0, 0.45);
  }
}
