@use "@styles/variables/colors" as *;

.menu-item-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
  }

  &__title {
    margin: 0;
  }

  &__category {
    text-transform: capitalize;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__thumbnail {
    border-radius: 0.5rem;
    height: 4.5rem;
    object-fit: cover;
    width: 4.5rem;
  }

  &__meta-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__price {
    font-size: 0.95rem;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: $color-text-secondary;
  }

  &__rating-icon {
    color: $color-rating-star;
    font-size: 0.9rem;
  }

  &__availability {
    text-transform: capitalize;
  }

  &__actions {
    display: flex;
    margin-top: auto;
  }
}
