body.light {
  --app-bg-color: #ffffff;
  --app-text-color: #000000d9;
  --app-card-bg: #ffffff;
  --app-border-color: #f0f0f0;
  --app-primary-color: #1890ff;
}

body.dark {
  --app-bg-color: #141414;
  --app-text-color: rgba(255, 255, 255, 0.85);
  --app-card-bg: #1f1f1f;
  --app-border-color: #303030;
  --app-primary-color: #1da57a;
}

body {
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.ant-typography,
.ant-typography-title {
  color: var(--app-text-color) !important;
  transition: color 0.3s ease;
}

//  Card
.ant-card {
  background-color: var(--app-card-bg) !important;
  border-color: var(--app-border-color) !important;
  color: var(--app-text-color) !important;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

// Card Title
.ant-card-head-title {
  color: var(--app-text-color) !important;
}
