@use "@styles/variables/colors" as *;

.restaurant-modal {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  &__close-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-link, 0.45);
    }
  }

  &__ok-button {
    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-link, 0.45);
    }
  }
}

.delete-confirm-modal {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  &__close-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-error, 0.45);
    }
  }

  &__delete-button {
    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-error, 0.45);
    }
  }
}
