@use "@styles/variables/colors" as *;

.delete-confirm-modal {
  &__title.ant-typography {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  &__delete-button {
    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-warning, 0.45);
    }
  }
}
