@use "@styles/variables/colors" as *;

.menu-item-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
  }

  &__image {
    flex: 1 1 18rem;
    max-width: 28.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1.5rem $color-box-shadow;
  }

  &__details {
    flex: 1 1 18.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;
  }

  &__title {
    margin: 0;
  }

  &__summary {
    width: 100%;
  }

  &__statistics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
  }

  &__description {
    background-color: $color-bg-muted;
    padding: 1rem;
    border-radius: 0.75rem;
  }

  &__divider {
    margin: 0;
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
  }

  &__button {
    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-link, 0.45);
    }
  }

  &__delete-button {
    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-error, 0.45);
    }
  }
}
