.restaurant-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 40px 48px 64px;
  width: 100%;

  &__heading {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__section-title {
    margin: 0;
  }

  @media (max-width: 1024px) {
    padding: 32px 24px 48px;
  }

  @media (max-width: 768px) {
    padding: 24px 16px 32px;

    &__heading {
      align-items: flex-start;
      flex-direction: column;
      gap: 12px;
    }
  }
}
