.restaurant-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 90rem;
  padding: 2.5rem 3rem 4rem;
  width: 100%;

  &__heading {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
  }
}
