@use "@styles/variables/colors" as *;

.menu-item-list {
  margin: 0 auto;
  max-width: 64rem;
  width: 100%;

  &__loader {
    text-align: center;
    padding: 1.5rem;
  }

  &__grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-bottom: 2rem;
  }

  &__item {
    height: 100%;
  }

  &__end {
    color: $color-text-muted;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
