@use "@styles/variables/colors" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 0.06rem solid $color-border-light;

  &__title {
    margin-top: 1rem;
    text-decoration: none;
  }
  &__title-link {
    &:focus-visible {
      outline: 0.15rem solid $color-link;
      outline-offset: 0.15rem;
    }
  }

  &__button {
    display: flex;
    gap: 0.75rem;
  }

  &__create-button {
    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-link, 0.45);
    }
  }

  &__user-button {
    font-weight: 600;
    padding: 0 0.9rem;
    background-color: $color-logo;
    color: $color-bg-surface;
    border-radius: 0.4rem;
    border: none;

    &:hover,
    &:focus {
      background-color: $color-logo-focus;
      color: $color-bg-surface;
    }
    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-logo, 0.45);
    }
  }
}