@use "@styles/variables/colors" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid $color-border-light;

  &__title {
    margin-top: 1rem;
    text-decoration: none;

    a:focus-visible {
      outline: 2px solid $color-logo-focus;
      outline-offset: 3px;
    }
  }

  &__button {
    display: flex;
    gap: 0.75rem;
  }
}
