@use "@styles/variables/colors" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid $color-border-light !important;

  &__title {
    margin-top: 1rem;
    a {
      text-decoration: none;
    }
  }

  &__button {
    display: flex;
    gap: 12px;
  }
}
