$color-white: #ffffff;
$color-black: #000000;
$color-border-light: #d9d9d9;
$color-bg-header: $color-white;
$color-bg-surface: $color-white;
$color-text-primary: $color-black;

$color-primary: $color-white;
$color-text: $color-text-primary;

$color-link: #1677ff;
$color-link-hover: #0958d9;

$color-logo: #ff4d4f;
$color-logo-hover: #f5161a;
$color-box-shadow:rgba(0, 0, 0, 0.06);