$color-logo: #702526;
$color-logo-focus: #d9363e;
$color-link: #1677ff;

$color-bg-header: #ffffff;
$color-bg-surface: #ffffff;

$color-text-primary: #111827;

$color-border-light: #e5e7eb;

$color-box-shadow: rgba(0, 0, 0, 0.08);

$color-error: #ff4d4f;
