@use "@styles/variables/colors" as *;

.restaurant-modal {
  &__title.ant-typography {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  &__time-slot {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    gap: 2rem;
  }

  &__ok-button {
    &:focus-visible {
      box-shadow: 0 0 0 0.2rem rgba($color-link, 0.45);
    }
  }
}
