@use "@styles/variables/colors" as *;

.menu-item-list {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;

  &__loader {
    text-align: center;
    padding: 24;
  }

  &__grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-bottom: 32px;
  }

  &__item {
    height: 100%;
  }

  &__empty,
  &__loader,
  &__end {
    color: $color-text-muted;
    font-size: 16px;
    padding: 32px;
    text-align: center;
  }
}
